{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
            <p>Данное веб-приложение предлагает вам почувствовать себя миллионерами или миллиардерами,
                управляя виртуальными активами (валюта, акции, драгоценные металлы) и выполняя задания для получения дополнительных виртуальных денег.
                Приложение позволит пользователям вести денежные счета в разных валютах, покупать и продавать виртуальные активы,
                соревноваться с другими пользователями в рейтингах богатства и делиться своими успехами.
                Это экономическая игра с элементами финансового симулятора, которая развивает интерес к инвестициям и финансам без реальных денежных затрат</p>
    </div>
{% endblock %}